name: Rust Binary

on:
  push:
    paths:
      - 'src/**/*rs'
      - 'Cargo.toml'
      - 'Cargo.lock'

jobs:
  build:
    name: Build on ${{ matrix.os }} for ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: ${{ github.ref == 'refs/heads/main' }}
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            binary_name: webview-linux
            platform: linux
          - os: ubuntu-latest
            target: x86_64-pc-windows-msvc
            binary_name: webview-windows
            platform: windows
          - os: macos-latest
            target: x86_64-apple-darwin
            binary_name: webview-mac
            platform: macos
          - os: macos-latest
            target: aarch64-apple-darwin
            binary_name: webview-mac-arm64
            platform: macos
    steps:
      - uses: actions/checkout@v4

      - uses: jdx/mise-action@v2
        env:
          RUSTUP_TARGET: ${{ matrix.target }}
          MISE_ENV: ${{ matrix.platform }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          cache_key_prefix: mise-${{ hashFiles('mise.toml') }}-${{ matrix.target }}
          experimental: true

      - run: mise x -- rustup target add ${{ matrix.target }}
      - run: mise run ci:install-deps


      - name: Set build flags
        id: build_flags
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "flags=--release" >> $GITHUB_OUTPUT
            echo "build_type=release" >> $GITHUB_OUTPUT
          else
            echo "flags=" >> $GITHUB_OUTPUT
            echo "build_type=debug" >> $GITHUB_OUTPUT
          fi

      - name: Build Linux
        if: matrix.target == 'x86_64-unknown-linux-gnu'
        run: |
          mise run build:rust -F transparent ${{ steps.build_flags.outputs.flags }} --target ${{ matrix.target }}
          mv target/${{ matrix.target }}/${{ steps.build_flags.outputs.build_type }}/webview ${{ matrix.binary_name }}

          mise run build:rust -F 'transparent devtools' ${{ steps.build_flags.outputs.flags }} --target ${{ matrix.target }}
          mv target/${{ matrix.target }}/${{ steps.build_flags.outputs.build_type }}/webview ${{ matrix.binary_name }}-devtools

      - name: Build macOS x86_64
        if: matrix.target == 'x86_64-apple-darwin'
        run: |
          mise run build:rust ${{ steps.build_flags.outputs.flags }} --target ${{ matrix.target }}
          mv target/${{ matrix.target }}/${{ steps.build_flags.outputs.build_type }}/webview ${{ matrix.binary_name }}

          mise run build:rust -F transparent ${{ steps.build_flags.outputs.flags }} --target ${{ matrix.target }}
          mv target/${{ matrix.target }}/${{ steps.build_flags.outputs.build_type }}/webview ${{ matrix.binary_name }}-transparent

          mise run build:rust -F 'transparent devtools' ${{ steps.build_flags.outputs.flags }} --target ${{ matrix.target }}
          mv target/${{ matrix.target }}/${{ steps.build_flags.outputs.build_type }}/webview ${{ matrix.binary_name }}-devtools

      - name: Build (aarch64-apple-darwin)
        if: matrix.target == 'aarch64-apple-darwin'
        run: |
          SDKROOT=$(xcrun -sdk macosx --show-sdk-path) MACOSX_DEPLOYMENT_TARGET=$(xcrun -sdk macosx --show-sdk-platform-version) mise run build:rust ${{ steps.build_flags.outputs.flags }} --target ${{ matrix.target }}
          mv target/${{ matrix.target }}/${{ steps.build_flags.outputs.build_type }}/webview ${{ matrix.binary_name }}

          SDKROOT=$(xcrun -sdk macosx --show-sdk-path) MACOSX_DEPLOYMENT_TARGET=$(xcrun -sdk macosx --show-sdk-platform-version) mise run build:rust -F transparent ${{ steps.build_flags.outputs.flags }} --target ${{ matrix.target }}
          mv target/${{ matrix.target }}/${{ steps.build_flags.outputs.build_type }}/webview ${{ matrix.binary_name }}-transparent

          SDKROOT=$(xcrun -sdk macosx --show-sdk-path) MACOSX_DEPLOYMENT_TARGET=$(xcrun -sdk macosx --show-sdk-platform-version) mise run build:rust -F 'transparent devtools' ${{ steps.build_flags.outputs.flags }} --target ${{ matrix.target }}
          mv target/${{ matrix.target }}/${{ steps.build_flags.outputs.build_type }}/webview ${{ matrix.binary_name }}-devtools

      - name: Build (Windows)
        if: matrix.target == 'x86_64-pc-windows-msvc'
        env:
          MISE_ENV: windows
        run: |
          mise run build:rust -F transparent ${{ steps.build_flags.outputs.flags }} --target ${{ matrix.target }}
          mv target/${{ matrix.target }}/${{ steps.build_flags.outputs.build_type }}/webview.exe ${{ matrix.binary_name }}.exe

          mise run build:rust -F 'transparent devtools' ${{ steps.build_flags.outputs.flags }} --target ${{ matrix.target }}
          mv target/${{ matrix.target }}/${{ steps.build_flags.outputs.build_type }}/webview.exe ${{ matrix.binary_name }}-devtools.exe

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.build_flags.outputs.build_type }}-binary-${{ matrix.target }}
          path: ${{ matrix.binary_name }}*
