name: Verify
on:
  push:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Lint
        run: deno lint

  publishable:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Passes publish checks
        run: deno publish --dry-run --allow-slow-types

  codegen-up-to-date:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Run codegen
        run: deno task gen

      - name: Check for changed files
        run: |
          if [[ -n $(git status --porcelain) ]]; then
            echo "Files have changed after running tests:"
            git status --porcelain
            exit 1
          fi
